{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="row clearfix">
    <div class="col-md-6 col-md-offset-3 column">
        <form class="form-inline" id="search-form" action="post/" method="POST" >{% csrf_token %}
            <div class="form-group">
                {{ form.text.errors }}
                {{ form.text }}
                {{ form.country.as_hidden }}
                <input id="search_box" class="form-control" type="text" placeholder="Write Tweet..." style="width:450px" >
            </div>
            <button type="submit" class="btn btn-default">Post</button>
        </form>
    </div>
    <h3>&nbsp;</h3>
    <div>
        {% for tweet in tweets %}
        <div class="well">
            <span>{{ tweet.text }}</span>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}




